body {
  width: 99%;
  margin: 0 auto;
  max-width: 1024px;
  font-family: fantasy;
}

header {
  width: 100%;
  background: linear-gradient(-90deg, #0043ff, #62e2bf);
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

h1 {
  position: relative;
  top: 40%;
}

div{
  min-height:200px;
  margin-bottom: 10px;
  width: 96%;
  padding: 2% 2% 2% 2%;
}

div > :first-child {
  text-align: center;
}


.side{
  background-color: rgba(106, 160, 110, 0.64);
}

.up{
  background-color: #6aa06e;
}

.down{
  background-color: rgba(106, 160, 110, 0.24);
}

/* 2 columns -> 8% padding in total*/
/* (100-8)/4 = 23*/
@media screen and (min-width: 800px){
  
 .side{
    position: absolute;
    max-width: 184px; /*23% of 800px*/
    width: 184px; /*23% of 800px*/
    height: 100%;
    margin-right: 10px;
  }

  .up{
    float: right;
    width: calc(92% - 194px); 
  }

  .down{
    float: right;
    width: calc(92% - 194px);
  }
}

  @media screen and (min-width: 1024px){
  
  div{
    padding: 20.48px 20.48px 20.48px 20.48px; /* 2% of 1024*/
  }

  .up{
    max-width: 748px; /*92% of 1024 - 194px*/
  }
 
  .down{
    max-width: 748px;
  }
  
 }  

