body {
  width: 99%;
  margin: 0 auto;
  font-family: fantasy;
}

header {
  width: 100%;
  background: linear-gradient(-90deg, #0043ff, #62e2bf);
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

h1 {
  position: relative;
  top: 40%;
}

div {
  min-height:200px;
  margin-bottom: 10px;
  width: 96%;
  padding: 2% 2% 2% 2%;
}

div > :first-child {
  text-align: center;
}

.left{
  background-color: rgba(106, 160, 110, 0.64);
}

.center{
  background-color: #6aa06e;
}

.right{
  background-color: rgba(106, 160, 110, 0.24);
}

/* 2 columns -> 8% padding in total*/
/* (100-8)/4 = 23*/
@media screen and (min-width: 700px){
  
  .left{
    width:23%;
  }

  .center{
    float: right;
    width:69%;
  }
}

/* 3 columns -> 12% padding in total*/
/* (100-12)/4 = 22*/
@media screen and (min-width: 1000px){
  
  .right{
    float: right;
    width:22%;
  }

  .left{
    float: left;
    width:22%;
  }

  .center{
    float: none;
    display: inline-block;
    width:44%;
  }
}

@media screen and (min-width: 1200px){
  
 
  .right{
    max-width:264px;
  }

  .left{
    max-width:264px;
  }

  .center{
    width: calc(88% - 528px);
  }
} 