body {
  width: 99%;
  margin: 0 auto;
  font-family: fantasy;
}

header {
  width: 100%;
  background: linear-gradient(-90deg, #0043ff, #62e2bf);
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

h1 {
  position: relative;
  top: 40%;
}

div{
  min-height:200px;
  margin-bottom: 10px;
  width: 96%;
  padding: 2% 2% 2% 2%;
}

div > :first-child {
  text-align: center;
}

.center{
  min-height:200px;
  width: 70%;
  padding: 10% 15% 10% 15%;
  background-color: #6aa06e;
}




